[Desktop Entry]
Version=1.0
Name=Tarian Core
Comment=TARN P2P Cryptocurrency
Comment[fr]=TARN, monnaie virtuelle cryptographique pair à pair
Comment[tr]=TARN, eşten eşe kriptografik sanal para birimi
Exec=tarian-qt %u
Terminal=false
Type=Application
Icon=tarian128
MimeType=x-scheme-handler/tarian;
Categories=Office;Finance;
StartupWMClass=Tarn-qt
